html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --darkpurple: #7c218166;
  --purple: #7c2181;
  --links: plum;
  width: 100%;
  scroll-snap-type: y mandatory;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
